<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show One Recipe</title>
</head>
<body>
    <h1><%= recipe.title %></h1>
    <p>Description</p>
    <div>
        <p>Ingredients: <%= recipe.ingredients %></p>
        <p>Instructions: <%= recipe.cookingInstruction %></p>
        <p>Difficulty: <%= recipe.difficultyLevel %></p>
        <p>Estimated Price: <%= recipe.price %></p>
    </div>
    <p><%= recipe.price %></p>
    <img src="<%= recipe.image %>">
    <a href="/recipes">Main Page</a>
    <a href="/recipes/<%= recipe._id %>/edit">Edit</a>
    <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>
</html>